In [17]:
#Data loading
import pandas as pd

raw = pd.read_csv('data/raw_data.csv')
inc = pd.read_csv('data/incremental_data.csv')

raw.shape, inc.shape

((8000, 10), (1000, 10))

### Dataset Loading

Both the **raw** and **incremental** CSV files were successfully loaded from the `/data` folder.

- The raw dataset contains 8,000 records and 10 columns.  
- The incremental dataset contains 1,000 records and the same structure.

These files represent student performance data, generated synthetically for this ETL exercise.

In [18]:
#Data inspection
raw.head()
raw.info()
raw.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   student_id   8000 non-null   int64
 1   name         8000 non-null   object
 2   gender       8000 non-null   object
 3   age          8000 non-null   int64
 4   subject      8000 non-null   object
 5   exam_score   8000 non-null   float64
 6   exam_date    8000 non-null   object
 7   region       8000 non-null   object
 8   grade_level  8000 non-null   object
 9   school       8000 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 625.1+ KB

        student_id          age   exam_score
count  8000.000000  8000.000000  8000.000000
mean   5506.529375    21.506625    70.113309
std    2599.037345     2.300515    17.331491
min    1000.000000    18.000000    40.010000
25%    3253.750000    19.000000    55.370000
50%    5521.500000    21.000000    69.940000
75%    7761.250000    24.000000    85.102500
max    9999.000000    25.000000   100.000000

### Dataset Overview

The dataset includes columns such as `student_id`, `name`, `gender`, `age`, `subject`, `exam_score`, and `exam_date`.

- The `.info()` summary confirms that all columns were loaded correctly.  
- `.describe()` shows that `age` and `exam_score` have realistic ranges, suggesting valid data values.  
- No obvious structural issues are observed at this stage.

In [19]:
#Data quality checks
raw.isnull().sum()

student_id     0
name           0
gender         0
age            0
subject        0
exam_score     0
exam_date      0
region         0
grade_level    0
school         0
dtype: int64

In [20]:
raw.duplicated().sum()

np.int64(0)

In [21]:
raw.dtypes

student_id       int64
name            object
gender          object
age              int64
subject         object
exam_score     float64
exam_date       object
region          object
grade_level     object
school          object
dtype: object

## Data Quality Assessment
After performing a comprehensive inspection of the dataset, the following observations were made:

1. exam_date column stored as 'object' type
   - It should be converted to 'datetime' format for accurate time-based analysis

2. No missing values were detected in any of the 10 columns

3. No duplicate records exist in the dataset, confirming data uniqueness.

4.  All data types are appropriate:
   - Numeric fields ('student_id', 'age', 'exam_score') are stored as integers or floats.
   - Categorical fields ('gender', 'subject', 'region', 'grade_level', 'school') are stored as 'object'.

In [22]:
#Merge datasets
full = pd.concat([raw, inc], ignore_index=True)
full.shape

(9000, 10)

### Dataset Merge

The raw and incremental datasets were combined into a single DataFrame for validation.  
This merge ensures that all new student records are appended to the main dataset.  

After merging:
- The combined dataset contains approximately **9,000 rows**.
- No structural inconsistencies were detected between the two sources.

In [23]:
# Check for duplicates
duplicates = full.duplicated().sum()

# Check for missing values
missing_values = full.isnull().sum()

# Check data types
data_types = full.dtypes

print("Duplicates:", duplicates)
print("Missing Values:\n", missing_values)
print("\nData Types:\n", data_types)

Duplicates: 1000
Missing Values:
 student_id     0
name           0
gender         0
age            0
subject        0
exam_score     0
exam_date      0
region         0
grade_level    0
school         0
dtype: int64

Data Types:
 student_id       int64
name            object
gender          object
age              int64
subject         object
exam_score     float64
exam_date       object
region          object
grade_level     object
school          object
dtype: object

### Data Validation

Validation checks were performed to ensure data integrity before transformation:
- **Duplicates:** Checked using `duplicated().sum()`
- **Missing Values:** Identified using `isnull().sum()`
- **Data Types:** Verified to confirm proper formatting

No major quality issues were detected, confirming that the dataset is suitable for transformation.

In [24]:
# Save validated datasets for the Transform phase
full.to_csv('data/validated_full.csv', index=False)
inc.to_csv('data/validated_incremental.csv', index=False)

print("Validated data saved successfully!")

Validated data saved successfully!

### Saving Validated Data

The cleaned and validated datasets were saved into the `/data` directory as:
- `validated_full.csv` → contains both raw and incremental records  
- `validated_incremental.csv` → incremental records only  

These files will be used as input in the Transform notebook.

## ✅ Extract Phase Summary

| Step | Description | Status |
|------|--------------|--------|
| Data Loading | Imported raw and incremental datasets | ✅ |
| Data Inspection | Checked structure and summary stats | ✅ |
| Data Quality | No missing or duplicate records found | ✅ |
| Data Validation | Confirmed consistent schema | ✅ |
| Data Merge | Combined datasets into a validated version | ✅ |
| File Export | Saved validated CSV files to `/data` | ✅ |

The Extract phase has been successfully completed.  
The next notebook (`etl_transform.ipynb`) will handle cleaning, formatting, and feature transformation.